*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

:root{
    /* --blue: rgb(13, 13, 203); */
    --blue: #03468F;
    --blue-hover:#0c59ac;
    --green: #27a913;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color:var(--blue);
}


header ul li {
    color:white;
    margin: 2rem;
}

.data .title h2{
    font-size: 2rem;
}

.update-btn{
    background-color:var(--blue);
    color:white;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1em;
}
.update-btn:hover{
    background-color: var(--blue-hover);

}
.struct {
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin:1rem;
    padding:0rem;
    border-bottom: 1.5px solid var(--blue-hover);

}


.data-list {
    display: flex;
    justify-content: center;
    overflow: scroll;
    height: 45vh;
}

.data-list::-webkit-scrollbar {
    display: none;
}





.title p{
    margin: 1rem;
}


.live-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    height: fit-content;

}
/* .live-table thead {
    position: fixed;
    z-index: 999;
}
.live-data-content tr {
    height: 25px;
} */
  
.live-table td{
border: 1px solid #dddddd;
text-align: center;
padding: 8px;
max-height: 30vh;
overflow: auto;
}
.live-table th{
border: 1px solid #dddddd;
text-align: center;
padding: 8px;
}

.live-table tr:nth-child(even) {
background-color: #dddddd;
}

.struct .title .rx_metadata{
    color: red;
    font-size:0.8em;
    border:1px solid red;
    padding:0.3rem;
}